name: Release Pipline

on:
    push:
        tags:
            - 'v1.0.0'
jobs:
    build-release:
        runs-on: windows-latest
        steps:
            - name: Checkout source
              uses: actions/checkout@v3

            - name: Configure
              run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

            - name: Build
              run: cmake --build build --config Release
            
            - name: Package
              run: cpack --config build/CPackConfig.cmake

            - name: Upload Release Assets
              uses: softprops/action-gh-release@v1
              with:
                files: build/*.zip